.casetable{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.casetable td, .casetable th{
    border:1px solid #ddd;
    padding:8px;
}
.casetable tr:nth-child(even){background-color: #f2f2f2;}
.casetable tr:hover {background-color: #ddd;}
.casetable th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}