.THIS .dataTables_length{
    /*display:none;*/
}
.THIS .dataTables_filter{
    margin-top:-15px;
}
.THIS .lds-table slds-table_bordered slds-table_cell-buffer {
    position: fixed;
    top: 0px; display:none;
    background-color:white;
}
.THIS .slds-form-element{
    	margin-top:11px;
}
.THIS .slds-form-element{
    margin-top:0%;
    width:98%;
}